.admin-header {
    width: 100%;
    height: 57px;

    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: relative;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 0 30px;
    }
    .user-exit {
        color: #53be4f;
        cursor: pointer;
    }
    .user-avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 0 30px 0 0;
        background: #53be4f;
        text-align: center;

        i {
            color: #fff;
            margin: 0 1px 0 0;
        }
    }
}
