.filters {
    margin: 0 0 30px 0;
    padding: 30px 20px 20px 20px !important;
    display: flex;
    flex-wrap: wrap;
    &.contracts {
        .form-item {
            //flex-basis: unset !important;
            &.distance {
                flex-basis: 50%;
                &.ct {
                    @media screen and (max-width: 1150px){
                        flex-basis: 100%;
                    }
                }
            }
        }
        //flex-wrap: wrap;
    }
    .reset {
        height: 40px;
        width: 160px;
        // display: bloc;
        padding-left: 15px;
        margin-top: 50px;
        padding-right: 15px;
        margin-left: auto;
    }
    .form-item {
        width: 33%;
        padding: 0 30px 30px 0;
        @media screen and (max-width: 992px) {
            width: 45%;
        }
        input {
            background: #fff;
            border: 1px solid #dedede;
        }

        label {
            opacity: 0.7;
            color: #464646;
            font-family: Roboto;
            font-size: 12px;
            letter-spacing: 1.2px;
            margin: 0 0 3px 0;
        }

        &.search {
            width: 30%;
            position: relative;
            @media screen and (max-width: 992px) {
                width: 45%;
            }
            input {
                width: 309px;
                height: 36px;
                background: rgba(191, 191, 191, 0.25) !important;
                border: 0;
            }

            i {
                position: absolute;
                right: 40px;
                // top: 20px;
                font-size: 20px;
                line-height: 40px;
                color: #53be4f;
            }

            label {
                text-align: right;
                margin: 3px 0 0 0;
            }
        }

        &:nth-child(5) {
            width: 339px;
        }

        .ant-select {
            .ant-select-selection--single {
                height: 36px;
                background: #fff;
                border: 1px solid #dedede;
                border-radius: 0 23px 23px 0;
            }

            .ant-select-selection-selected-value {
                line-height: 31px;
            }
        }

        .ant-calendar-picker {
            &:hover .ant-calendar-picker-input {
                border-color: #dedede;
            }

            .ant-calendar-picker-input {
                height: 36px;
                border: 1px solid #dedede;
                border-radius: 0 23px 23px 0;
                padding: 0 20px;

                input {
                    height: 100% !important;
                    border: 0 !important;
                    padding: 0;
                }

                .ant-calendar-range-picker-separator {
                    line-height: 34px;
                    color: #53be4f;
                }
            }

            .ant-calendar-picker-icon {
                color: #53be4f;
            }
        }
    }
}
.range-container {
    // display: flex;
    display: flex;
}
.range-input {
    // width: unset;
    //width: 130px;
    margin: 0 10px 10px 0;
    & > div {
        margin-bottom: 10px;
        font-size: 12px;
    }
    & > input {
        width: inherit;
    }
}
.ramge {
    width: 33% !important;
}
