//------------------------------------
//-------------FOOTER-----------------
//------------------------------------
footer {
    height: 100px;
    position: relative;
    background: #4b4b4b;

    .footer {
        // height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px 0 20px;
        height: inherit;
        nav {
            margin: 0 0 0 40px;
            a {
                margin: 0 30px 0 0;
                color: #ffffff;
                font-family: Roboto;
                font-size: 12px;
                letter-spacing: 1.2px;
            }
        }
    }
}

@media (max-width: 600px) {
    footer {
        .footer {
            flex-direction: column;
            padding: 20px;
            height: inherit;
            nav {
                column-count: 2;
                -moz-column-count: 2;
                -webkit-column-count: 2;
                a {
                    display: block;
                }
            }
        }
    }
}
footer {
    .footer-logo {
        background: #4b4b4b;
        color: #fff;
        bottom: 36px;
        left: 65px;
    }
}
