//------------------------------------
//-------------HEADER-----------------
//------------------------------------
header {
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);
  margin-bottom: 20px;
  .header {
    height: 100px;
    display: flex;
    align-items: center;

    justify-content: space-between;

    .exchange-link {
      display: block;
      margin: 5px auto 0 5%;
      color: #464646;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.2px;
    }

    .desktop-menu {
      display: flex;
      width: 100%;
      &> a {
        font-size: 14px;
        font-weight: bold;
      }
    }

    nav {
      display: flex;
      align-items: center;
      margin: 5px 0 0 auto;

      a {
        margin: 0 50px 0 0;
        color: #464646;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 1.2px;

        &.profile-link {
          margin-right: 0;

          i {
            color: #53be4f;
            font-size: 15px;
            margin: 0 10px 0 0;
          }
        }
      }

      .active-link {
        border-bottom: 2px solid #53be4f;
        margin-top: 1px;
      }

      a:hover {
        color: #41913e;
      }
    }

    .authentication-link {
      display: flex;
      align-items: center;

      .registration-link {
        margin: 0 30px 0 0;
        color: #53be4f;
      }

      .registration-link:hover {
        color: #41913e;
      }

      .btn {
        height: 30px;
        width: 105px;
        color: #fff;
        margin: 0;
      }
    }
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 12px;

    display: none;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #53be4f;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #2d722b;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #fff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;

    .bm-item-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .bm-item {
        display: flex !important;
        flex-direction: column;
      }

      a {
        color: #53be4f;
        font-size: 16px;
        margin: 0 0 20px 0;
      }

      nav {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;

        a {
          font-size: 16px;
          margin: 0 0 20px 0;
          color: #464646;
        }
      }
    }
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 800px) {
  header {
    .header {
      nav {
        a {
          margin: 0 15px 0 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    .header {
      .desktop-menu {
        display: none;
      }

      .bm-burger-button {
        display: block;
      }
    }
  }
}
