.admins-page {
    .admin-btn {
        color: #fff;
        border-radius: 10px;
        width: 80px;
        height: 30px;
        border: none;
        cursor: pointer;
    }
    .super-admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 30px 0;

        .role {
            color: #464646;
            font-family: Roboto;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2.5px;
        }

        span {
            color: #464646;
            font-family: Roboto;
            font-size: 15px;
            letter-spacing: 1.25px;
        }

        .btn {
            height: 29px;
            width: 128px;
        }
    }
}

.add-admin {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .window-title {
        width: 100%;
        text-align: center;
        padding: 0 0 30px 0;
        border-bottom: 1px solid #dedede;
    }

    .form-item {
        margin: 30px 0 0 0;

        input {
            height: 36px;
            width: 309px;
        }
    }

    .btn {
        margin: 90px 0 0 0;
        height: 43px;
        width: 200px;
    }
}
