.profile-page {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-areas: 'shortInfo changePass' 'shortInfo sasd' 'userInfo userInfo' 'documents documents';
    @media screen and (max-width: 800px) {
        grid-template-columns: 100%;
    }
    .section {
        border-radius: 20px;
        padding: 40px;
        box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.19);
    }

    .short-information-block {
        grid-area: shortInfo;
        position: relative;
        .user-info {
            display: flex;
            align-items: center;
            padding: 0 0 15px 0;
            margin: 0 0 15px 0;
            border-bottom: 1px solid rgba(151, 151, 151, 0.56);

            .user-avatar {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 5% 0 0;

                .rating {
                    display: flex;
                    margin: 10px 0 0 0;
                    color: #464646;
                    font-family: Roboto;
                    font-size: 15px;
                    letter-spacing: 1.5px;

                    img {
                        width: 14px;
                        height: 14px;
                        margin: 1px 5px 0 0;
                    }
                }
            }

            .user-status {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                // position: relative;
                margin: 0 0 15px 0;
                .btn {
                    height: 33px;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 0 20px;
                    margin-left: 30px;
                }
                .user-name {
                    font-family: Roboto;
                    font-size: 25px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                }

                .logout {
                    position: absolute;
                    right: 0;
                    top: 0;
                    right: 39px;
                    top: 31px;
                    cursor: pointer;
                    font-weight: bold;
                    color: red;
                    text-decoration: underline;
                    font-size: 14px;
                    letter-spacing: 1.2px;
                }
            }
        }

        .login-history {
            .block-title {
                color: #464646;

                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1.8px;
                padding-left: 10px;
                margin-bottom: 10px;
            }
            .ant-table-wrapper {
                //overflow-x: scroll;
            }
        }
    }
    //---------------------------------------------------
    //---------------------------------------------------
    .two-factor-block {
        grid-area: twoFactor;

        .title-block {
            margin: 0 0 50px 0;
            color: #464646;
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.8px;

            img {
                margin: 0 25px 0 0;
            }
        }

        .switch-block {
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 55px;
            color: #464646;
            font-family: Roboto;
            font-size: 15px;
            letter-spacing: 1.25px;
        }
    }
    //---------------------------------------------------
    //---------------------------------------------------
    .change-password-page {
        grid-area: changePass;
        display: flex;
        align-items: center;

        img {
            margin: 0 25px 0 0;
        }

        span {
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.8px;
        }

        button {
            height: 43px;
            width: 184px;
            margin: 0 0 0 auto;
        }
    }
    //---------------------------------------------------
    //---------------------------------------------------
    .user-information-block {
        grid-area: userInfo;
        display: flex;
        justify-content: space-between;

        & > div {
            flex: 1;
            padding: 0 5%;
            .profile_btn {
                margin-top: 70px;
                padding: 10px 30px;
            }
            &:first-child {
                padding-left: 0;
                border-right: 1px solid rgba(151, 151, 151, 0.56);
            }
            &:last-child {
                padding-right: 0;
                border-left: 1px solid rgba(151, 151, 151, 0.56);
            }
        }

        .block-title {
            margin: 0 0 30px 0;
            color: #464646;
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.8px;
        }

        .form-item {
            margin: 0 0 13px 0;
        }
    }
    //---------------------------------------------------
    //---------------------------------------------------
    .documents {
        grid-area: documents;
        @media screen and (max-width: 800px) {
            grid-area: unset;
        }
        .block-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 30px;
            color: #464646;
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.8px;

            .btn {
                height: 43px;
                font-size: 14px;
                font-weight: normal;
                padding: 0 30px;
            }
        }

        .documents-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .document {
                width: 26%;
                @media screen and (max-width: 576px) {
                    width: 45%;
                }
                .default-img {
                    height: 180px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 19px;
                    background: #efefef;
                    margin: 10px 0 40px 0;
                    overflow: hidden;
                    .document-image {
                        position: relative;
                        width: 100%;
                        height: inherit;
                        &:hover .delete-layout {
                            opacity: 1;
                            transition: .3s ease-in-out;
                        }
                        .delete-layout {
                            cursor: pointer;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            z-index: 2;
                            opacity: 0;
                            background: rgba(0,0,0,0.3);
                            transition: .3s ease-in-out;
                            .btn {
                                font-size: 16px;
                                color: #fff;
                                margin: 0;
                                height: 43px;
                                background: red;
                                font-weight: normal;
                                padding: 0 30px;
                            }
                        }
                    }
                }

                i {
                    font-size: 100px;
                    color: #c3c3c3;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .profile-page {
        grid-template-areas: 'shortInfo shortInfo' 'twoFactor twoFactor' 'changePass changePass' 'userInfo userInfo';

        .user-information-block {
            flex-direction: column;

            & > div {
                padding: 0;
                margin: 0 0 30px 0;
                border: 0 !important;
            }
        }
    }
}
.verification-status {
    display: inline-block;
    height: 20px;
    margin: 0 0 10px 10px;
    border-radius: 4px;
    background-color: #00ce7d;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    &.notVerified {
        background-color: red;
    }
}

