.contracts-page {
    .total-block {
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px 0;
        @media screen and (max-width: 768px) {
            display: block;
        }
        div {
            width: 48%;
            height: 150px;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 125px 0 25px;
            border-radius: 15px;
            box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.19);

            .title {
                color: #464646;
                font-family: Roboto;
                font-size: 25px;
                font-weight: bold;
                letter-spacing: 2.5px;
            }

            .value {
                color: #464646;
                font-family: Roboto;
                font-size: 25px;
                letter-spacing: 2.5px;
                & > span {
                    font-style: 50px;
                    font-weight: bold;
                    color: #4a90e2;
                }
            }
        }
    }

    .active-contracts {
        margin: 0 0 30px 0;
        .user-table {
            .ant-table-wrapper {
                @media screen and (max-width: 768px) {
                    overflow-x: scroll;
                }
            }
        }
        .actions {
            .btn {
                height: 30px;
                width: 100%;

                &:first-child {
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}
.trade-history {
    img {
        width: 16px;
        height: 16px;
        margin: 1px 10px 0 0;
    }
}
