.users-page {
    .filters {
        .search {
            i {
                top: 20px;
            }
        }
    }

    .admin-table {
        i {
            color: #53be4f;
        }

        .ant-table-tbody {
            tr {
                cursor: pointer;
            }
        }
    }
}
.user-email {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 50px;
}
