@import 'styles/authenticationPages';

//@font-face {
//    font-family: Roboto;
//    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
//}

body {
    margin: 0;
    padding: 0;
    // height: 100%;
    min-width: 320px;
}
* {
    font-family: 'Solway', sans-serif !important;
}
.bm-burger-button {
    top: 30px !important;
}

#root {
    height: 100%;
}
.App {
    height: inherit;
    display: flex;
    flex-direction: column;
}

*:focus {
    outline: none;
}
button:disabled {
    background: rgba(0, 0, 0, 0.4);
    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}
.confirm-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    p {
        font-size: 25px;
    }
    i {
        font-size: 50px;

    }
    .success {
        color: #53be4f ;
    }
    .error {
        color: red;
    }
}
.size-container {
    width: 100%;
    // min-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.registration-page {
    .confirm {
        .checkbox {
            label {
                color: #2a81dc;
                text-decoration: underline;
            }
        }
    }
}
.confidantial {
    max-width: 1200px;
    margin: 0 auto;
    .title {
        font-size: 18px;
        font-weight: bold;
    }
}
.content {
    flex: 1;
    // padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    .text {
        height: 120px;
        overflow-y: scroll;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #53be4f;
    color: #fff;
    font-weight: 100;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-family: Roboto;
    &.filters {
        padding: 4px 18px !important;
        font-size: 18px;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        color: #fff !important;
    }
}

.btn:hover {
    background: #41903d;
    color: #fff !important;
}

.btn-red {
    background-color: #d10a23;

    &:hover {
        background-color: rgba(175, 3, 44, 0.87) !important;
    }
}

.btn-blue {
    background-color: #4a90e2;

    &:hover {
        background-color: #3e70b6 !important;
    }
}

.btn-orange {
    background-color: #f5a623;

    &:hover {
        background-color: #b9791e !important;
    }
}

.btn-white {
    background: #fff;
    color: #53be4f;
    border: 1px solid #53be4f;

    &:hover {
        color: #53be4f !important;
        background: rgba(224, 224, 224, 0.5) !important;
    }
}

.ant-switch {
    height: 45px !important;
    width: 101px;
    background: rgba(191, 191, 191, 0.25) !important;

    &:after {
        width: 41px !important;
        height: 41px !important;
        background-color: #53be4f !important;
        border-radius: 50% !important;
    }
}

.ant-switch-checked {
    background: #53be4f !important;

    &:after {
        background-color: #fff !important;
    }
}

a:focus {
    text-decoration: none !important;
}

.page-title {
    margin: 0 0 30px 0;
    color: #464646;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

//------------------------------------
//-------------ADMIN SIDE-------------
//------------------------------------
.admin-side {
    height: 100%;
    background: rgba(224, 224, 224, 0.5);

    .container {
        height: calc(100% - 57px);
        display: flex;

        .admin-content {
            width: 85%;
            // min-height: 100vh;
            padding: 30px;
            margin: 0 auto;
            // overflow: auto;

            .back-link {
                grid-area: backLink;

                color: #464646;
                font-family: Roboto;
                font-size: 25px;
                font-weight: bold;
                letter-spacing: 2.5px;

                a {
                    color: #53be4f;
                }
            }

            .section {
                width: 100%;
                padding: 30px 20px;
                background: #fff;
                border: 1px solid #dedede;
                border-radius: 2px;
                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                }
                margin-bottom: 30px;
            }

            .form-item {
                &.search {
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                    & input {
                        width: 100%;
                    }
                }
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                .ant-select-selection--single,
                input {
                    height: 36px;
                    border: 1px solid #dedede;
                    border-radius: 0 23px 23px 0;
                    background-color: #ffffff;
                }

                .ant-select-selection-selected-value {
                    line-height: 35px;
                }
            }

            .admin-table {
                // overflow-x: scroll;
                .ant-table-wrapper {
                    // overflow-x: scroll;
                }
                .title-table {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 20px 0;
                    color: #464646;
                    font-family: Roboto;
                    font-size: 25px;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    @media screen and (max-width: 576px) {
                        display: flex;
                        flex-direction: column;
                    }
                    .btn {
                        min-width: 184px;
                        height: 43px;
                        padding: 0 30px;
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 15px;
                        letter-spacing: 1.5px;
                    }
                }

                .ant-table-placeholder {
                    border: 0 !important;
                }

                .ant-table-thead > tr > th {
                    border: 0;
                    background: rgba(224, 224, 224, 0.5);
                    font-weight: bold;
                    color: #464646;
                    text-align: center;
                }
                .ant-table-tbody > tr > td {
                    border: 0;
                    text-align: center;
                }

                .anticon-right {
                    color: #57c053;
                }

                .ant-table-pagination {
                    position: absolute;
                    right: -20px;
                    bottom: -85px;

                    li {
                        height: 20px;
                        min-width: 20px;
                        background-color: #ffffff;
                        line-height: 20px;
                        border: 0;
                        border-radius: 0;

                        &.ant-pagination-item-active {
                            background-color: #53be4f;

                            a {
                                color: #fff;
                            }
                        }

                        a {
                            margin: 0;
                            border: 0;
                            color: #53be4f;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .admin-size-container {
        width: 100%;
        overflow-y: auto;
        //max-width: 1440px;
        margin: 0 auto;
        // padding-bottom: 50px;
    }
}

// ------------------------------------
//-------------FORMS-----------------
//------------------------------------
.separate-form {
    width: 60%;
    position: relative;
    max-width: 766px;
    margin: 0 auto;
    padding: 40px 10%;
    background-color: #ffffff;
    box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    .go-back-btn {
        position: absolute;
        left: 60px;
        top: 45px;

        color: #53be4f;
        font-family: Roboto;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1.5px;
        cursor: pointer;

        i {
            margin: 0 5px 0 0;
        }
    }

    .logo {
        text-align: center;
    }

    .form-title {
        width: 100%;
        margin: 30px 0 35px 0;
        display: flex;
        align-items: center;

        hr {
            flex: 1;
            border-bottom: 0 solid rgba(151, 151, 151, 0.56);
        }

        span {
            margin: 0 15px;
            color: #464646;
            font-family: Roboto;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }

    .form-item {
        margin: 0 0 15px 0;
    }
}

li.ant-select-dropdown-menu-item-selected {
    background-color: #53be4f;
    color: #fff;
}

.form-item {
    display: flex;
    flex-direction: column;
    &.check {
        flex-direction: row;
    }
    label {
        &:not(:last-child) {
            margin: 0 0 10px 0;
            opacity: 0.9;
            color: #464646;
            font-family: Roboto;
            font-size: 12px;
            letter-spacing: 1.2px;
        }
    }

    input {
        height: 47px;
        padding: 0 20px;
        border-radius: 23px;
        border: 0;
        background-color: rgba(191, 191, 191, 0.25);
        font-size: 14px;
    }

    input::placeholder,
    .ant-select-selection__placeholder {
        color: #464646;
        font-family: Roboto;
        font-weight: normal;
        opacity: 0.4;
    }

    .ant-select-selection--single {
        height: 47px;
        padding: 0 20px;
        border-radius: 23px;
        border: 0;
        background-color: rgba(191, 191, 191, 0.25);
        font-size: 14px;

        input {
            padding: 0;
        }
    }

    textarea {
        border: 1px solid rgba(151, 151, 151, 0.24);
        background: #fff;
        resize: none;
    }

    .ant-cascader-picker-arrow,
    .ant-select-arrow-icon {
        color: #53be4f;
    }

    .ant-select-selection__rendered {
        height: 100%;
        margin: 0;
    }

    .ant-select-open .ant-select-selection {
        box-shadow: none;
    }

    .ant-select-selection-selected-value {
        height: 100%;
        line-height: 47px;
    }

    .ant-select-selection:focus {
        box-shadow: none;
    }
    .ant-input:focus {
        box-shadow: none;
    }
    .ant-calendar-picker:focus
        .ant-calendar-picker-input:not(.ant-input-disabled) {
        border-color: #dedede;
        box-shadow: none;
    }
}

//------------------------------------
//-----------USER TABLE---------------
//------------------------------------
.user-table {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    .table-title {
        height: 85px;
        padding: 0 0 0 25px;
        border-radius: 8px 8px 0 0;
        display: flex;
        align-items: center;
        color: #464646;
        font-family: Roboto;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2.5px;
    }

    .ant-table-thead th {
        background: rgba(224, 224, 224, 0.5);
        color: #464646;
        font-family: Roboto;
        padding: 16px 7px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.5px;

        &:first-child {
            border-top-left-radius: 0 !important;
        }

        &:last-child {
            border-top-right-radius: 0 !important;
        }

        i.on {
            color: #53be4f !important;
        }
    }

    .ant-table-tbody {
        tr {
            td {
                padding: 10px 10px;
                color: #464646;
                font-family: Roboto;
                font-size: 12px;
                letter-spacing: 1.4px;
            }
        }

        tr:hover {
            td {
                background: #53be4f !important;
                color: #fff;
            }
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }

        i.anticon-right {
            color: #53be4f;
            font-size: 16px;
        }

        i.anticon-arrow-right {
            color: #fff;
            font-size: 18px;
        }
    }

    .table-action-btn {
        display: flex;
        &.orders-controls {
            flex-wrap: wrap;
        }
        justify-content: center;
        align-items: center;
        .btn-blue, .btn-red {
            margin: 0 0 5px 0 !important;
        }
        .btn {
            margin: 0 10px;
            padding: 5px 15px;
        }

        .done {
            background: #4a90e2;
        }
        .cancel {
            background: #d10a23;
        }
    }
}

//------------------------------------
//-----------DIALOG WINDOW------------
//------------------------------------
.ant-modal {
    // width: 700px !important;
    top: 50px !important;
}
.ant-modal-mask {
    width: 100vw !important;
    height: 100vh !important;
    background: rgba(255, 255, 255, 0.81) !important;
}

.ant-modal-content {
    .ant-modal-close-icon {
        color: #53be4f !important;
        font-size: 20px;
    }

    .ant-modal-body {
        padding: 30px 45px;
    }
}

.ant-popover-inner-content {
    padding: 0 !important;

    div {
        padding: 5px 10px;
        color: #464646;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
}
.verify_btn {
    padding: 10px 30px;
    margin-bottom: 10px;
}
.preloader-spin {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 55;
}
.preloader-spin.inner {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
}
.ant-select-disabled > div,
input:disabled {
    background: rgba(0, 0, 0, 0.15) !important;
}
.download-block {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #53be4f;
    cursor: pointer;
    &.red {
        color: red;
    }
    & > i {
        margin-right: 10px;
    }
    & a {
        color: #53be4f;
    }
    & p {
        //color: red;
        margin-bottom: 0;
    }
}
.btn.yellow {
    background: #f5a623;
    &:hover {
        background: #db8b0a;
    }
}
.ant-select-selection__placeholder {
    // display: block !important;
}
.isOpen {
    background: #53be4f;
    & td {
        color: #fff !important;
        &:first-child i {
            color: #fff !important;
        }
    }
}

@media (max-width: 800px) {
    .separate-form {
        width: 100%;

        .go-back-btn {
            left: 15px;
        }
    }
}
.ant-table-wrapper {
    @media screen and (max-width: 882px) {
        overflow-x: scroll;
    }
}
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    // background-color: #eee;
    outline: 1px solid #53be4f;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #53be4f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 7px;
    top: 3px;
    width: 8px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn {
    &:disabled:hover {
        background: rgba(0, 0, 0, 0.4) !important;
    }
}
.balance-modal > div {
    margin-top: 10%;
}
.user-news {
    width: 1000px;
    margin: 0 auto;
    p {
        margin-bottom: 0;
    }
    @media screen and (max-width: 1200px) {
        width: 70%;
    }
    @media screen and (max-width: 1000px) {
        width: 95%;
    }

    .title {
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        color: black;
    }
    .content {
        padding-bottom: 0;
        word-break: break-all;
    }
    .date {
        font-family: 'Courier Prime', monospace !important;
        font-size: 14px;
        font-weight: bold;
        min-width: 200px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1200px) {
            margin-right: 0;
            min-width: 100px;
        }
    }
    .date,
    .content {
        padding: 15px 10px;
        line-height: 1;
    }
}
.news-container {
    display: flex;
    border-bottom: 1px solid black;
}
.logo-name {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 16px;
    left: 48px;
    width: 133px;
    margin-right: 20px;
    bottom: 6px;
    z-index: 2;
    background: #fff;
}
.logo {
    position: relative;
}
